body
{
    background-color: #2d2d2d;
}
*
{
    color: white;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p
{
    margin: 0;
}
input, select, textarea, table {
    background-color: #2d2d2d;
    outline: none;
}
.h2-tags
{
    font-size: 43px;
    margin-bottom: 40px;
}
.ui-container-head
{
    margin-bottom: 70px;
}
.ui-main
{
    max-width: 1300px;
    margin: auto;
    padding: 70px 15px;
}
.ui-container-controls
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ui-container-form form
{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.ui-container-flex
{
    display: flex;
    max-height: 400px;
    overflow: auto;
}
.ui-container-flex>div
{
    margin-right: 100px;
}
.hover
{
    background-color: green;
}
#selectors_phone, #selectors_country {
    display: flex;
    flex-direction: column;
}
form p
{
    color: #969696;
    font-size: 13px;
    font-weight: bold;
}
#selectors_phone select, #selectors_country select{
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    border-bottom: 5px solid #969696;
}
#buttons
{
    display: flex;
    flex-direction: row;
}
#drop
{
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    cursor: pointer;
    font-size: 90000px;
    padding: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.ui-container-droparea
{
    position: relative;
    overflow: hidden;
    border: 7px dashed rgb(154, 154, 156);
    height: 340px;
    width: 340px;
    padding: 0;
    transition: background-color 0.3s ease-in;
}
select
{
    cursor: pointer;
}
input[type='submit']
{
    padding: 12px 0px;
    margin: 20px 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid white;
    width: 100%;
    cursor: pointer;
}